@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

#footer .email {
    color: white !important; 
    text-decoration: none; 
}

.email:visited {
    color: white;
}

.email:hover {
    color: white;
}

.email:active {
    color: white;
}

.email strong {
    color: inherit; 
}


:root{
    --header-height: 6vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    color: black;
}

.email{
    color:white;
}
a:visited {
    text-decoration: none;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #1E1E2E;
    color: #1E1E2E;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

section {
    padding: 50px;
    text-align: center;
}

.main{
    display: flex;
    align-items: top;
    flex-direction: row;
    margin-top: var(--header-height);
}

.text-hyperlink{
    text-decoration: none;
    color: inherit;
    color: #324AB2;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2B2D42;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    z-index: 1000;
}

.header_buttons_container {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header_buttons_container li {
    margin: 0 15px;
}

.header_buttons {
    color: #EDF2F4;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.header_buttons:hover {
    background-color: #8D99AE;
    border-radius: 4px;
}

.lateral_rectangles{
    width: 25%;
    background-color: #1E1E2E;
}


.page_container{
    display: flex;
    flex-direction: row;
    background-color: #1E1E2E;
}

.center_container{
    display: flex;
    flex-direction: column;
    background-color: #edeff4;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 20px;

}

.home_content{
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title{
    font-size: 36px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 10px;
}

.sep-line{
    margin: 20px
}

.line_bellow_home_title{
    height: 1px;
    width: 70%;
    background-color: white;
    margin-bottom: 20px;
}

.my_brief_summary{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin-bottom: 100px;
}

.main_info_and_my_picture_container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.my_picture{
    width: 12vw; 
    height: 12vw; 
    border-radius: 50%; 
    object-fit: cover; /* Redimensiona a imagem para caber no círculo */
    margin-right: 20px;
}

.my_info{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-align: justify;
    text-decoration: none;
    cursor: default;
}

.my_anchors_container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding-left: 115px;
}

.my_anchors{
    background-color:white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
}

.projects{
    margin: 0% 0% 5% 0%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer{
    background-color: black;
    height: 10%;
    display: flex;
    align-items: center;
}

.footer_text{
    font-size: 1rem;
    color: white;
}

.card{
    max-width: 400px;
    max-height: 400px;
    height: 40rem;
    width: 40rem;
    background-color: white;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    display: flex;
    flex-direction: column; /* Layout em coluna */
    overflow: hidden; /* Garante que os elementos não escapem */
    margin-left: 0;
    margin-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 65%;
    object-fit: cover;
    transition: filter 0.3s ease; /* Suaviza a transição */
    filter: brightness(1); /* Brilho normal */
}

.card-img-top:hover {
    filter: brightness(0.8); /* Reduz o brilho para escurecer a imagem */
}

.card-carousel{
display: flex;
flex-direction: row;
width: 95%;
justify-content: flex-start;
}

.popup {
    display: none; /* Esconde o pop-up inicialmente */
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transform: scale(0.9); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }
  
  .popup-header {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .popup-header h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .popup-header .close-btn {
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .popup-body {
    display: flex;
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    height: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  
  .popup-description {
    padding: 20px;
    width: 40%;
    text-align: justify;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    overflow: hidden; 
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    
  }
  
  .popup-description h3, .popup-description h4 {
    margin-top: 0;
  }
  
  .popup-description ul {
    list-style: none;
    padding: 0;
  }
  
  .popup-description ul li {
    background-color: #ddd;
    color: #333;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .popup-images {
    padding: 20px;
    width: 60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .popup-images img {
    max-width: 100%;
    border-radius: 5px;
  }
  

  
  .popup-published-date {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }
.popup.show {
display: flex; /* Exibe o pop-up */
opacity: 1; /* Torna visível */
transform: scale(1); /* Tamanho original */
}

.img-title{
    font-size: 20px;
    font-weight: bold;
    left: 5px;
}

.img-caption{
    font-size: 16px;
    text-align: justify;
}



