@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


:root{
    --header-height: 6vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    color: black;
}

a:visited {
    text-decoration: none;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #1E1E2E;
    color: #1E1E2E;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

section {
    padding: 50px;
    text-align: center;
}

.main{
    display: flex;
    align-items: top;
    flex-direction: row;
    margin-top: var(--header-height);
}

.data_science_academy_anchor{
    text-decoration: none;
    color: inherit;
    color: #324AB2;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2B2D42;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    z-index: 1000;
}

.header_buttons_container {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header_buttons_container li {
    margin: 0 15px;
}

.header_buttons {
    color: #EDF2F4;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.header_buttons:hover {
    background-color: #8D99AE;
    border-radius: 4px;
}

.lateral_rectangles{
    width: 25%;
    background-color: #1E1E2E;
}


.page_container{
    display: flex;
    flex-direction: row;

}

.center_container{
    display: flex;
    flex-direction: column;
    background-color: #edeff4;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 20px;

}

.home_content{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title{
    font-size: 36px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 10px;
}

.line_bellow_home_title{
    height: 1px;
    width: 70%;
    background-color: white;
    margin-bottom: 20px;
}

.my_brief_summary{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin-bottom: 100px;
}

.main_info_and_my_picture_container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.my_picture{
    width: 12vw; 
    height: 12vw; 
    border-radius: 50%; 
    object-fit: cover; /* Redimensiona a imagem para caber no círculo */
    margin-right: 20px;
}

.my_info{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-align: justify;
    text-decoration: none;
    cursor: default;
}

.my_anchors_container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding-left: 115px;
}

.my_anchors{
    background-color:white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
}

.projects{
    margin: 0% 15% 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects-section-title{
    font-size: 42px;
}

.dashboards_section{
    display:flex;
    flex-direction: column;
}

.dashboards_section_title{
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 900;
    font-style: italic;

}

.carousel{
    width: 50vw;
    margin: 1% auto 6% auto;
    align-items: center;
    display: flex;
  }

  .carousel img{
    height: auto;
    width: 50vw;
    display: block;
    justify-content: center;
  }

.slick-prev:before, .slick-next:before{
    color: black;
 }

.projects_subsection{
    display: flex;
    flex-direction: column;
}

.projects_subsection_title{
    font-size: 42px;
    font-weight: 900;
    font-style: italic;
    margin: 5% 15% 0 0%;
    justify-content: left;
    align-self: start;
}

.individual_projects_title{
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 5%;
    font-weight: 600;
    font-style: italic;
} 

.individual_project_display{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: auto;
}

.individual_project_description{
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;;
}
.car_sales_model_pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 1% 15% 1% 0%;
    max-height: inherit;
}

.market_basket_analysis_picture{
    max-width: 60%;
    margin-top: 1%;
}

.hospital_project_container{
 display: flex;
 flex-direction: row;
}

.hospital_project_description{
font-size: 24px;
align-items: center;
justify-content: center;
margin: 2% 6% 0 1%;
}

.hospital_picture{
    margin-top: 1%;
    width: 35%;
}

.footer{
    background-color: black;
    height: 10%;
    display: flex;
    align-items: center;
}

.footer_text{
    font-size: 1rem;
    color: white;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.project-description {
    margin: 5px 0;
}

.project-details {
    display: none;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.project.expanded .project-details {
    display: block;
}