@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: gray;
    color: #F6F6F6;
}

.header {
    font-size: 18px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 300px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px); /* Ajusta a largura total considerando o espaço ocupado pela distância */
    z-index: 64;
}

.header-wrapper {
    position: relative;
    z-index: 65; /* Aumente o valor do z-index para o cabeçalho */
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    z-index: -1; /* Defina um valor menor de z-index para a faixa preta */
}

.header_buttons_container{
    display:flex;
    flex-direction: row;
}

.main{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.home_content{
    margin: 10% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title{
    font-size: 36px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 10px;
}

.line_bellow_home_title{
    height: 1px;
    width: 70%;
    background-color: white;
    margin-bottom: 20px;
}

.my_brief_summary{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin-bottom: 100px;
}

.main_info_and_my_picture_container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.my_picture{
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; /* Redimensiona a imagem para caber no círculo */
    margin-right: 20px;
}

.my_info{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-align: justify;
    text-decoration: none;
    cursor: default;
}

.my_anchors_container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding-left: 115px;
}

.my_anchors{
    background-color:gray;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
}

.projects{
    margin: 0% 15% 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboards_section{
    display:flex;
    flex-direction: column;
}

.dashboards_section_title{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.carousel{
    width: 50vw;
    margin: 0% auto 6% auto;
  }

  .carousel img{
    height: auto;
    width: 50vw;
    display: none;
  }

.projects_subsection{
    display: flex;
    flex-direction: column;
}

.projects_subsection_title{
    font-size: 30px;
    font-weight: 500;
    margin: 0% 15% 20px 0%;
    justify-content: left;
    align-self: start;
}

.individual_projects_title{
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 500;
} 

.individual_project_display{
    display: flex;
    flex-direction: column;
}

.individual_project_description{
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;;
}
.car_sales_model_pictures{
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
margin: 1% 15% 1% 15%;
}