@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



*{
    margin: 0;
    padding: 0;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header{
    font-size: 18px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
    padding-right: 300px;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: gray;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.home{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_content{
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home_title{
    font-size: 36px;
    font-family: 'Inconsolata', monospace;
}

.additional_info{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

.main_info{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-align: justify;
    text-decoration: none;
    cursor: default;
}

.my_info_anchors{
    background-color:gray;
    color: black;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    min-width: 10vmax;
    width: 320px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-style: solid;
}

.my_picture{
    width: 200px; /* Defina a largura desejada da imagem */
    height: 200px; /* Defina a altura desejada da imagem */
    border-radius: 50%; /* Define o raio do círculo */
    object-fit: cover; /* Redimensiona a imagem para caber no círculo */
    margin-right: 20px;
}

.main_info_and_my_picture_container{
    display: flex;
    align-items: center;
}

.carousel {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  .carousel img {
    display: block;
    width: 100%;
    height: auto;
  }